.header-form {
  text-align: center;
  width: 100%;
  padding: 2rem 0;
  background: var(--primary);
  border-bottom: 1px solid var(--black);
}

.form-section {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 4rem;
}

textarea {
  width: 1000px;
}

input {
  width: 1000px;
  height: 50px;
}

.submit-button {
  margin-top: 100px;
  height: 50px;
  width: 150px;
  color: white;
  background-color: orangered;
  border-radius: 5px;
}

p {
  font-size: 18px;
  margin: 20px 0 20px 0;
}
